* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
}

body{
    background-image: url(assets/bandeira.webp);
    background-size: cover;
}

#page{
    width: 800px;
    padding: 24px;
    margin: 48px auto 24px;
}

img{
    border-radius: 16px;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
    
}

#main{
    padding: 24px;
}

section + section{
    margin-top: 24px;
}

h1{
    margin-bottom: 24px;
    line-height: 150%;
    font-size: 40px;

}

h2{
    font-size: 24px;
    margin-bottom: 24px;
}

ul{
    padding-left: 24px;
}